/*
    Main Style
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
}

p {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.menu{
  font-size:30px;
  cursor:pointer
}


.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.main_nav{
  background: #fff;
  /*display: inline-block;*/
}

.main_nav .menu{
 display: inline-block;
}

.main_nav #logo_img{
 display: inline-block;
}

.navbar-brand{
  color: #222;
  padding: 10px;
  font-size: 24px;
}

.navbar-brand #logo_img{
  width: 280px;
  height: 60px;
  background: url('../images/amalinze_logo_sm.png')no-repeat; 
}


.navbar-brand a{
  text-decoration: none;
}

.basket_menu{
  border-left: 1px solid #c0c0c0;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 10px;
  padding-left: 20px;
}

#basket_icon{
    margin-top: 10px;
}

.basket_menu a{
  color: #343434;
}

.account_menu{
  border-left: 1px solid #c0c0c0;
  font-size: 14px;
  /* margin: 10px; */
  margin-bottom: 10px;
  margin-top: 18px;
}

.badge {
    position: relative;
    top: 0;
    left: 2%;
    font-size: 8px;
}

.search_menu{
  font-size: 14px;
  margin-top: 15px;
}

.hamburger_menu {
    position: absolute;
    top: 6px;
    left: 0;
    margin: 10px 10px 10px 20px;
    font-size: 35px;
    width: 50px;
    display: inline-block;
    z-index: 10;
}

.sub_menu{
    color: #222;
  background: #fff;
  margin-left: 15px;
}

.sub_menu li {
  margin-right: 20px;
}

.sub_menu a{
  font-size: 18px;
  text-decoration: none;
  color: #222;
}
.sub_menu a:hover{
  color: #ef5252;
}

.navbar a{
  color: #222;
}

hr{
  color: #222;
}

.menu .nav-item{
  text-decoration: none;
  color: #222;
}

/* Search Form*/

.container-2{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search{
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px solid #343434;
  font-size: 10pt;
  float: right;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #343434;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-2 .icon{
  position: absolute;
  bottom: -32px;
  right: 5%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 100%;
}
 
.container-2:hover input#search{
width: 100%;
}
 
.container-2:hover .icon{
  color: #93a2ad;
}

.osh_search{
  margin: 10px 20px 15px 20px;
  border: 1px solid #343434;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/*Dropdown*/

/* Dropdown Button */
.dropbtn {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px;
    
    left: 10px;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 650px;
    left: 10px;
    right: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
    background-color: #f1f1f1;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #ef5252;
}

.dropdown.btnn  a:hover {
  color: #ef5252;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 24.33%;
    padding: 10px;
    background-color: #fff;
    height: 100%;
}
.column h6{
    text-align: left;
    margin: 8px;
    font-size: 13px;
}

.dark {
    background:#fbfbfb;
}

.column a {
    float: none;
    color: black;
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}


/*-------------------------------------
   User Account
-----------------------------------------*/
.account {
  padding: 30px;
  background: #fff;
  border-bottom: 1px solid #c0c0c0;
}

.profile_pic {
   text-align: center;
   margin-bottom: 10px;
}

.profile_pic img {
    height: 130px;
    width: 130px;
  
}

.user_info {
  /*margin-left: 20px;*/
  margin-bottom: 20px;
}

#user_desc p{
  font-size: 18px;
  /*margin-left: 20px;*/
}

.user_info p{
  font-size: 12px;
}

.card-tab {
   padding-top: 1.25rem;
}

.order_tab {
   display: inline-flex;
   border: 1px solid #c0c0c0;
   border-radius: 5px;
   padding: 20px 15px 20px 15px;
   width: 100%;
   box-shadow: 0px 0px 1px 0px #c0c0c0;
}

#action {
  margin-left: 15px;
}

.tab_action {
  background: #fff;
  padding: 35px;
}

.tab_action a {
  text-decoration: none;
}

.tab_action .order_tab:hover {
  background: #f7f7f7;
}



/*----------------------------
 Privacy Policy
----------------------------------*/
.pry_container {
  padding: 30px;
  background: #fff;
}

.pry_container h4 {
  padding-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-width: 58px;
  border-bottom-right-radius: 3px;
  border-bottom: 4px solid #fe4e4e;
}

/*-------------------------------
  Update Payment Options
---------------------------------*/

.p_account{
  padding: 30px;
  background: #fff;
}


/*-------------------------------
  Update Address
---------------------------------*/

.a_account{
  padding: 30px;
  background: #fff;
}



/*---------------------------------------------
 Services-Homepage
------------------------------------------------*/
.recom_services h4{
  margin: 20px 20px 20px 0px;
  font-weight: 500;
}

.recom_services img {
  height: 190px;
  width: 300px;
  border-radius: 5px;
}



.recom_services p{
  margin: 10px;
  color: #343434; 
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 251px;
    position: fixed;
    top: 0;
    left: -255px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #343434;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar .sidebar-header {
    padding: 10px;
    margin-top: 5px; 
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #343434;
    text-decoration: none;
}
#sidebar ul li a:hover {
    color: #343434;
    background: #f1f1f1;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #343434;
    background: #f1f1f1;
}


a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before {
    content: '\2771';
    display: none;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\2212';
}*/



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ==========================================================
                Product Quick View
======================================*/
.modal-body {
  margin-bottom: 20px;
}

#product_img {
  padding: 20px;
}

#product_img img{
   width: 150px;
   height: 150px;
   border: none;
   margin: 0 auto; 
}

#product_title p{
   text-transform: uppercase;
   color: #999;
   font-size: 14px;
   margin-bottom: 2px;
}

#product_description {
  padding: 20px;

}

#rating p{
  display: inline-block;
  font-size: 14px;
}

/*-----------------------------------------------
   Search Results
--------------------------------------------------*/
.s_sidebar {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-left: -15px;
}

.s_main {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-right: -15px;
}

.s_sidebar hr {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#search_result h4 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 2.9rem;
}

.s_main hr {
  margin-left: -20px;
  margin-right: -20px;
}

.filters h5{
  font-weight: bold;
  margin: 10px;
  margin-left: 0px;
}

.modal-dialog-fil {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
}
.modal-content-fil {    
      height: 100%;
      border-radius: 0;
      color:white;
      overflow:auto;
}
.close
  {
    color:#222 ! important;
    opacity:0.7;
  } 

.modal-content-one {
  background: #fff;
  color: #222;
}

.fil {
  background: #fff;
}

.category li{
  margin-bottom: 5px;
  color: #c0c0c0;
}

.category li:hover{
  color: #343434;
}

.price li{
  margin-bottom: 5px;
}

.features h5, .brands h5,  .shipping h5, .occasion h5, .availability h5, .colors h5, .offers h5, .sellers h5,.discount h5,.category h5,.price h5 {
  margin-bottom: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.card a {
  text-align: center;
}

.card #price {
  font-weight: bold;
  color: #343434;
  font-size: 1.3rem;
}

.s_main .card-title {
  font-weight: bold;
  line-height:1.3em;
}

.breadcrumb {
  padding: 0px;
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
  margin-bottom: 0px;
}

.m_form {
  width: 55px !important;
  margin-right: 5px;
  height: 45px;
}


/*------------------------------------------
  Product Page
------------------------------------------------*/
.product {
  background: #fff;
  padding: 20px 0px 20px 0px;

}

.product p {
  color: #343434;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px;
}


}

.more_padding {
  padding-top: 20px;
}

.product h4 {
   color: rgba(0, 0, 0, 0.54);
}

.product h5{
  font-weight: bold;
}

.action_btn_p{
   margin-top: 20px;
   margin-bottom: 10px;
}

.new_blue {
    background: #fff;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #18b8e5;
    font-weight: bold;
}

.new_blue:hover {
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
}

.blue_cart{
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
} 


.blue_cart:hover{
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
} 


.new_bread_crumb {
  font-size: 10px;
  margin-bottom: 10px;
}

#color_balls {
  display: inline-flex;
  box-sizing: border-box;
  padding-top: 10px;
}

#color_balls p{
  margin-right: 10px;
}

.col_dark {
  color: #343434;
}

.col_blue {
  color: #18b8e5;
}

.col_yellow {
  color:#fec04e;
}

.col_pink {
  color: #fe4e4e;
}

.product_desc a{
  color: #fe4e4e;
}

#product_r i {
  font-size: 10px;
}

#rating span {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.product_image {
 

}

#product_p {
  font-size: 10px;
}

.productcard-image {
  border-radius: 10px;
  margin: 0 auto;
}

#palette-image li{
  list-style-type: none;
  display: inline-flex;
  margin-right: 10px;
  border-radius: 10px; 
  width: 60px;
  height: 50px;
}

#palette-image{
  margin: 0 auto;
  padding-top: 15px;
}
/*--------------------------------------------
  Category Wrapper
 -------------------------------------------------*/

#content_wrapper {
  background:  #f1f2f2;
  margin-left: -20px;
  margin-right: -20px;
}

.category_main{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tp_main {
  background: #fff;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #d6dcdc;
}

.tp_title h4{
  font-weight: bolder;
}

.fa-star {
  color: #ffc528;
}

.card {
  border: none;
}

#reviews {
  font-weight: bold;
  margin-left: 10px;
}

.fa-star-half-full {
  color: #ffc528;
}

.category_main h4{
  font-weight: bolder;
}

.category_main p{
  font-size: 14px;
}

.card h4{
  font-weight: bold;
}

#price {
  color: #fb3636; 
  font-weight: bold;
}
/*=============================================
       Sign Up Modal
*/

#side_img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

#side_img img{
  border-radius: 10px 0px 0px 10px;
}

.md-rem {
  margin-bottom: 0px;
  padding: 0px;
}

#form_field {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.ml-col {
  padding-left: 0px;
  border-radius: 10px 0 0 10px;
}

.ml-con {
  border-radius: 12px;
}

#sign_up {
  margin-top: 10px;
  margin-bottom: 40px;
}

#sign_up p{
  font-size: 14px;
  margin-top: 8px;
}

#show_signup {
  cursor:pointer;
}

#show_login {
   cursor: pointer;
}

#sign_up_form {
  padding-right: 30px;
}

.blue_sign{
  background: #18b8e5;
  color: #fff;
  align-content: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
}

.blue_sign:hover{
  background: #18b8e5;
  border: none;
}

#sign_up_btn {
  text-align: center;
  padding-right: 30px;
}

#sign_up_text {
  position: absolute;
  top: 5%;
  left: 5%;
  padding-right: 20px;
  color: #fff;
}

#sign_up_text h4 {
  font-weight: bold;
  margin-bottom: 14px;
}

#sign_up_text p {
  color: #fff;
  padding-right: 20px;
  font-size: 14px;
}

/* ------------------------------------------------
   Service Page 
---------------------------------------------------*/
.service_desc h4 {
  margin:20px 0 20px 0;
}

.service {
  background: #fff;
  padding: 20px 0px 20px 0px;

}

.service p {
  color: #343434;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 10px;
}


}

.more_padding {
  padding-top: 20px;
}

.service h4 {
   color: rgba(0, 0, 0, 0.54);
}

.service h5{
  font-weight: bold;
}

.action_btn_p{
   margin-top: 20px;
   margin-bottom: 10px;
}

.new_blue {
    background: #fff;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #18b8e5;
    font-weight: bold;
}

.new_blue:hover {
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
}

.blue_cart{
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
} 


.blue_cart:hover{
    background: #18b8e5;
    border-color: #18b8e5;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
} 


.new_bread_crumb {
  font-size: 10px;
  margin-bottom: 10px;
}

.service_desc a{
  color: #fe4e4e;
}

#service_r i {
  font-size: 10px;
}

#rating span {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}



#service_p {
  font-size: 10px;
}

.servicecard-image {
  margin: 0 auto;
}

.servicecard-image  img {
  border-radius: 10px;
}


#palette-image li{
  list-style-type: none;
  display: inline-flex;
  margin-right: 10px;
  
  width: 60px;
  height: 50px;
}

#palette-image li img {
 border-radius: 10px;
}

#palette-image{
  margin: 0 auto;
  padding-top: 15px;
}

/* ---------------------------------------------
    Cart Page
------------------------------------------------------*/
.ct-page {
  padding: 40px;
  background: #fff;
}

.ct-page p {
  font-size: 14px;
}

.ct-page > span > #pen {
  font-weight: bolder;
}

.ct-page hr {
   border-top: 2px solid #403c3c;
}

#cart-feature {
  margin-top: 50px;
  margin-bottom: 50px;
}

#cart-feature img {
  float: left;
  margin-top: 10px;
}

.ct-page #cart-featured{
  margin-left: 30px;
}

.cart-title {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 5px;
}

#cart_product_img {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  height: 100%;
  width: 250px;
  padding: 20px;
}

#cart_product_img img {
  margin: 0 auto;
  height: 200px;
}

#cart_item {
  padding-top: 30px;
  padding-bottom: 30px;
}

#cart_item_id {
  margin-top: 15px;
  font-size: 20px;
}

.cart_sub {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
}

#cart_item_spec p {
  margin-right: 20px;
  font-size: 20px;
  display: inline-block;
}

#cart_item_spec img {
  margin-right: 5px;
}

#cart_item_spec span {
  border-bottom: 1px dashed #c0c0c0;
}

#cart_item_price p{
  margin-top: 70px;
  margin-right: 45px;
  float: right;
  cursor: pointer;
}

.ct-page h1 {
  font-weight: bolder;
}

.check_cart {
  background: #e6e9f6;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.ck_box {
  padding: 50px;
  line-height: 2.5em;
}

#discount_img {
  float: left;
  margin: 10px 10px 20px 40px;
}

#cart_item a{
  color: #f8411a; 
}

.no_padding {
  padding: 0px; 
}

#check_out_img {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

#check_out {
  font-size: 18px;
}

.expense{
  float: right;
}

#pen {
  font-weight: 700;
  color: #343434;
}

.check_out_tabs .active {
  color: #343434;
}


.check_out_tabs li{
  display: -webkit-inline-box;
  border: none;
}


.check_out_tabs li:visited{
  color: #fff;
}

.check_out_tabs li a {
  border: none;
  font-size: 1.5rem;
  color: #999;
}

.check_out_tabs li i{
   margin-top: 28px;
   font-size: 6px;
   color: #999;
 }

a.active {
  color: #343434; 
}

.check_out_anchor a {
   color: #f8411a;
}

.check_cart_content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pay_img p {  
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
}

  .a{
    float: right;
  }

  .b{
    float: left;
  }

.a , .b img{
  width: 180px;
  height: 100px;
}

/*-----------------------------------------------
   Thank You Page
-------------------------------------------------*/

.up_padding_tk {
   padding-top: 50px;
}

.up_padding_tk p {
  font-weight: bold;
}

.price_tk p {
   font-weight: bold;
   color: #343434;
}


/*-----------------------------------------------
   Check Out - Shipping Details
-------------------------------------------------*/

.up_padding {
  padding-top: 50px;
}

.up_padding p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  color: #343434;
}

.fcl {
    padding-left: 2.55rem;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #929292;
  }

.fct p {

    padding-left: 2.55rem;
}


.fcl-bolder {
   font-weight: bolder;
   color: #929292;
}

.fcl #checkHelp {
   color: #929292;
}

.fcl2 {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #929292;
  padding-left: 2.95rem;
  margin-bottom: 30px;
}

.fcl3 {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #929292;
  padding-left: 2.95rem;
  margin-bottom: 30px;
}


.fcl3 input {
  width: 100%;
  height: 60px;
}

.fcl2 input {
  width: 100%;
  height: 60px;

}

#footnote {
  padding-top: 10px;
}

#footnote a{
  color: #fb3a29;
}


/*----------------------------------------------
    Carousel 
 ----------------------------------------------------*********/
div.modal-header {
   border-bottom: none;
}

.carousel-inner {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.carousel {
  width: 100%;
}

.carousel .img-fluid {
  width: 100%;
  height: 100%;
}

.carousel_header{
  width: 100%;
  height: 100%;
}

.carousel-cap {
  position: absolute;
  top: 15%;
  left: 60%;
  color: #fff;
  z-index: 5;
}

.carousel-cap h1{
  font-size: 55px;
  color: #ef5252; 
}


.carousel-cap h2{
  font-size: 35px;
  color: #fff; 
}

#action_btn{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ef5252;
}

.white{
  background-color: rgba(253, 240, 240, 0.58);
  border: none;
}

.white:hover{
  background: #fff;
  color: #ec7074;
}

.overlay_carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0.5;
  top: 0;
  left: 0;
  background: #222;
}


.slider_wrapper{
  margin-left: -20px;
  margin-right: -20px;
}

/*=========================== Button Styling
============================================*/

.red{
  background: #ff7473;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 14px;
}

.red:hover{
  background: #ec7074;
}

.blue{
  background: #5bc0de;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 14px;
}

.blue:hover{
    background: #7ec8de;
    border-color: #7ec8de;
}

.blue.active{
    background: #7ec8de;
    border-color: #7ec8de;
}

.blue:active{
    background: #7ec8de;
    border-color: #7ec8de;
}

.blue:focus{
    background: #7ec8de;
    border-color: #7ec8de;
}
.purple{
  background: #2e294c;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 14px;
}

.purple:hover{
  background: #413e4e;
}

.orange{
  background: #fba935;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 14px;
}

.orange:hover{
  background: #f9bb64;
}



/*============================================
       Product Feature
==========================================*/
.product_wrapper {
  background: #f1f2f2;
  margin-left: -20px;
  margin-right: -20px;
}

.product_cat{
 background: #fff;
 padding-top: 50px;
 padding-bottom: 50px; 
}

#product_cat_view {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#product_cat_view h4{
  font-weight: bolder;
}

#btn_toy{
  text-align: center;
  color: #fff;
  border: none;
}


/* ============================================
       Modal
=================================*/


/** -------------------------------------------
     Panel - Footer
 -------------------------------------------------------    **/

.panel-footer{
  margin-top: 20px;
  padding: 30px;
  padding-bottom: 0px;
}

.panel-footer ul li{
  padding-left: 0px;
}

.panel-footer  ul{
  padding-left: 0px;
}

.panel-footer a{
  text-decoration: none;
  color: #343434;
  text-align: left;
}

.copyright{
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 5px;
}

#copy , #social{
   opacity: 0.4;
}

#social{
  float: right; 
}

#social i{
  margin-left: 10px;
}




/*-----------------------------------------------
   404 - page
-------------------------------------------------*/
#error_icon {
  padding-top: 50px;
}

.red_error {
  padding: 15px 25px;
}

#error_text {
  color: #999;
  letter-spacing: 5px;
  padding: 10px;
}


/* ---------------------------------------------------
    MEDIA QUERY BREAKPOINTS
----------------------------------------------------- */


/********************Large Device Screens************************/
@media(min-width: 1200px) {
  
   .badge {
    position: relative;
    top: -13px;
    left: -47px;
    font-size: 7px;
  } 

}

@media (max-width:991px){
  .s_main {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    margin-right: -15px;
    margin-left: -15px;
  }
}


/******************** Medium Device Screens************************/
@media(min-width:992px) {
 .badge {
    position: relative;
    top: -11px;
    left: -44px;
    font-size: 7px;
  }

}

@media(min-width:992px) and (max-width:1034px){
 .badge {
    position: relative;
    top: -33px;
    left: -7px;
    font-size: 7px;
  }
}

/******************** Small Device Screens Screens************************/
@media(min-width: 768px) and  (max-width: 991px){

  .panel-footer section{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .panel-footer section ul li a{
    text-align: center;
  }

  .panel-footer section h4{
     margin-top: 10px;
  }

  .navbar-brand #logo_img{
    position: absolute;
    top: 18px;
    left: 70px;
    width: 210px;
    height: 60px;
    background: url('../images/amalinze_logo_xs.png')no-repeat; 
  }

   .badge {
    position: relative;
    top: -11px;
    left: -11px;
    font-size: 7px;
  }

  .carousel-cap h1{
  font-size: 45px;
  color: #ef5252; 
}


  .carousel-cap h2{
    font-size: 35px;
    color: #fff; 
  }

  .basket_menu{
     padding-top: 7px;
  }

  .filter-title{
     margin-right: 30px;
  }

  #cart_item_price {
  display: inline-flex;
  float: none;
  }

  #cart_item_price p{
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 4px;
    float: none;
    cursor: pointer;
  }

 .profile_pic img {
    height: 110px;
    width: 110px;
  
}

 
}

/******************** Extra Small Device Screens************************/
@media(max-width: 767px){

  .user_info {
  /*margin-left: 20px;*/
  margin-bottom: 20px;
  text-align: center;
}

#palette-image li {
    list-style-type: none;
    display: inline-flex;
    margin-right: 10px;
    width: 51px;
    height: 55px;
}

   
  .panel-footer section{
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3){
    margin-bottom: 0;

  }
  .panel-footer section hr{
    width: 50%;
  }

  .panel-footer section ul li a{
    text-align: center;
  }

   .panel-footer section h4{
     margin-top: 10px;
  }
  
  #social, #copy{
     text-align: center;
     float: none;
  }

  .navbar-brand #logo_img{
    position: absolute;
    top: 20px;
    left: 70px;
    width: 200px;
    height: 60px;
    background: url('../images/amalinze_logo_xs.png')no-repeat;
    padding: 0px;
    margin: 0px; 
  }

  .badge {
    position: relative;
    top: -11px;
    left: -11px;
    font-size: 7px;
  }

 .carousel-cap h1{
  font-size: 35px;
  color: #ef5252; 
}


.carousel-cap h2{
  font-size: 35px;
  color: #fff; 
}

.basket_menu{
  padding-top: 7px;
  padding-left: 20px;
}

.s_main .card h6 p{
   text-align: center !important;
}


#cart_item_price {
  display: inline-flex;
  float: none;
}

#cart_item_price p{
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 4px;
  float: none;
  cursor: pointer;
}

#discount_img {
   float: left;
   margin: 10px 10px 20px 0px;
}

.fcl3 , .fcl2 {
   padding-left: 0px;
}
 
}
/************************************************ Super small size etc. iPhone 4**************************/

@media(max-width: 576px){

  .a {
    float: none;
  }

  .b{
    float: none;
  }

  .pay_img {
    text-align: center;
  }

  #sign_up {
    margin-bottom: 0px;
    margin-top: 5px;
  }


  #side_img img{
   border-radius: 10px 0px 0px 10px;
   height: 320px;
  }

  #sign_up_text p {
    color: #fff;
    font-size: 11px;
    padding-right: 20px;
  }

  #sign_up p{
   font-size: 8px;
   margin-top: 8px;
  }

  #form_field {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
  }

  .blue_sign{
    background: #18b8e5;
    color: #fff;
    align-content: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    font-size: 12px;
}

.service_details {
  padding-top: 20px;
}

}


@media(max-width: 479px){
  
  .panel-footer section ul li a{
    text-align: center;
  }

   .panel-footer section h4{
     margin-top: 10px;
  }

   #social, #copy{
     text-align: center;
     float: none;
  }

   .badge {
    position: relative;
    top: -11px;
    left: -11px;
    font-size: 7px;
  }

  .navbar-brand #logo_img{
  position: absolute;
  top: 20px;
  left: 60px;
  width: 140px;
  height: 40px;
  background: url('../images/amalinze_logo_xs.png')no-repeat; 
  }

  .carousel-cap h1{
  font-size: 25px;
  color: #ef5252; 
}


.carousel-cap h2{
  font-size: 25px;
  color: #fff; 
}


 .main_nav {
    background: #fff;
    margin-left: -30px;
    margin-right: -15px;
    /* display: inline-block; */
  }

  .basket_menu{
    padding-top: 7px;
    padding-left: 20px;
}

  .osh_search {
    margin: 10px 8px 15px 20px;
    border: 1px solid #343434;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }


#cart_item_price {
  display: inline-flex;
  float: none;
}

#cart_item_price p{
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 4px;
  float: none;
  cursor: pointer;
}

#discount_img {
   float: left;
   margin: 10px 10px 20px 0px;
}

.expense{
  float: none;
 }

.fcl3 , .fcl2 {
   padding-left: 0px;
}

#check_out_img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.ck_box {
    padding: 30px;
    line-height: 2.5em;
 }

 p#check_out {
    margin-top: 30px;
    margin-bottom: 0px;
 }

}

/******************** Extra Extra Small Device Screens Screens************************/
@media(max-width: 399px){
  .main_nav {
    background: #fff;
  }

  .osh_search {
    margin: 10px 8px 15px 20px;
    border: 1px solid #343434;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .mobile_view.col {
    padding: 0px;
  }

  .basket_menu{
    padding-top: 7px;
    padding-left: 20px;
  }


#cart_item_price {
  display: inline-flex;
  float: none;
}

#cart_item_price p{
  margin-right: 45px;
  margin-left: 45px;
  margin-top: 4px;
  float: none;
  cursor: pointer;
}

.expense{
  float: none;
}

.ct-page {
  padding-left: 0px;
  padding-right: 0px;
}

.fcl3 , .fcl2 {
   padding-left: 0px;
}

p#check_out {
    margin-top: 30px;
    margin-bottom: 0px;
 }

}